@import 'variables';

.btn {
  display: block;
  background: $primary;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 1000px;
  border: none;
  color: $white;
  font-size: 14px;
  cursor: pointer;
  outline: none;

  &:disabled {
    color: lighten($primary, 20%);
    cursor: not-allowed;
  }

  &.big {
    padding: 15px 40px;
  }

  &.transparent {
    background: transparent;
    color: $dark;
  }

  &.danger {
    background: $red;
  }
}
