@import 'variables';

.card {
  background: $white;
  margin-bottom: 20px;

  .header {
    height: 60px;
    box-shadow: $shadow-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .title {
      font-size: 14px;
      color: $dark;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .body {
    padding: 20px;
    box-shadow: $shadow-light;
  }
}

.filter-panel {
  max-width: 300px;
  padding: 0 20px;

  mat-form-field {
    width: 100%;
  }
}

.data {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .key {
    color: $dark;
    display: flex;
    align-items: center;

    mat-icon {
      color: $dark;
      margin-right: 10px;
    }
  }

  .value {
    color: $grey;
    display: flex;
    align-items: center;

    .action {
      color: $primary;
      margin-left: 10px;
      cursor: pointer;
    }
  }

  mat-icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
  }

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    .key {
      margin-bottom: 10px;
    }
  }
}
