$primary: #0072ff;
$dark: #0F1D35;

$white: #fff;
$grey: #818181;
$grey-dark: #4C4C4C;

$red: #C10808;
$green: #1BAF2A;

$shadow: 0 4px 4px rgba(0, 0, 0, .25);
$shadow-light: 0 2px 4px rgba(0, 0, 0, .1);
