@import 'material';

@import 'reset';
@import 'variables';
@import 'fonts';
@import 'btn';
@import 'full';
@import 'card';
@import 'table';

*:not(.material-icons) {
  font-family: 'Skycoin', 'Roboto', sans-serif !important;
}

html, body {
  font-size: 14px;
  color: $grey-dark;
  min-height: 100vh;
  margin: 0;
}
